
{% extends "base.html" %}
{% load static %} 
{% block content %}
    <!-- Carousel Start -->
  
    <section class="hero-section backwardmargin">
        <div class="slideshow backwardmargin">
            <div class="slide" style="background-image: url('{% static "img/1.jpg" %}');"></div>
            <div class="slide" style="background-image: url('{% static "img/2.jpeg" %}');"></div>
            <div class="slide" style="background-image: url('{% static "img/3.jpg" %}');"></div>
            <div class="slide" style="background-image: url('{% static "img/4.jpg" %}');"></div>
        </div>
        <div class="hero-content">
            
            <p class="text-white">You'll always have fascinating places to be and friendly people to see.</p>
            <button class="cta-button">Starting from just $1000</button>
        </div>
    </section>
    <!-- Carousel End -->












    




 


   
   
{% endblock content %}
    